.container1{
    margin: 4rem 6rem;
    color: #2a2a2a;
}

.container1 form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.container1 input{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.container1 textarea{
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.container1 button1{
    display: inline;
}

#btn{
    width: 200px;
    margin-left: 225px;
}
#h1{
    text-align: center;
}
@media screen and (max-width: 850px) {
    .container1{
        margin: 4rem 2rem;
    }
    .container1 form{
        padding-top: 2rem;
        width: 90px;
     }

    }
    